In [503]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [404]:
#Libraries setup
os.chdir('/dados/home-credit')
print(os.getcwd())
pd.set_option('display.max_columns', 200)
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

/dados/home-credit

In [453]:
#Importing datasets
train = pd.read_csv('application_train.csv')
#test = pd.read_csv('application_test.csv')
#b1 = pd.read_csv('bureau.csv')
#bb2 = pd.read_csv('bureau_balance.csv')
#pa1 = pd.read_csv('previous_application.csv')
#pos2 = pd.read_csv('POS_CASH_balance.csv')
#ip2 = pd.read_csv('installments_payments.csv')
#cb2 = pd.read_csv('credit_card_balance.csv')
description = pd.read_csv("/home/shink/gdata/hcg_gabi_shin/HomeCredit_columns_description.csv", encoding = "ISO-8859-1")
#sample = pd.read_csv('sample_submission.csv')

In [454]:
#dataset_setup
train.columns = map(str.lower, train.columns)
description.columns = map(str.lower, description.columns)
train.head()

,sk_id_curr,target,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,name_type_suite,name_income_type,name_education_type,name_family_status,name_housing_type,region_population_relative,days_birth,days_employed,days_registration,days_id_publish,own_car_age,flag_mobil,flag_emp_phone,flag_work_phone,flag_cont_mobile,flag_phone,flag_email,occupation_type,cnt_fam_members,region_rating_client,region_rating_client_w_city,weekday_appr_process_start,hour_appr_process_start,reg_region_not_live_region,reg_region_not_work_region,live_region_not_work_region,reg_city_not_live_city,reg_city_not_work_city,live_city_not_work_city,organization_type,ext_source_1,ext_source_2,ext_source_3,apartments_avg,basementarea_avg,years_beginexpluatation_avg,years_build_avg,commonarea_avg,elevators_avg,entrances_avg,floorsmax_avg,floorsmin_avg,landarea_avg,livingapartments_avg,livingarea_avg,nonlivingapartments_avg,nonlivingarea_avg,apartments_mode,basementarea_mode,years_beginexpluatation_mode,years_build_mode,commonarea_mode,elevators_mode,entrances_mode,floorsmax_mode,floorsmin_mode,landarea_mode,livingapartments_mode,livingarea_mode,nonlivingapartments_mode,nonlivingarea_mode,apartments_medi,basementarea_medi,years_beginexpluatation_medi,years_build_medi,commonarea_medi,elevators_medi,entrances_medi,floorsmax_medi,floorsmin_medi,landarea_medi,livingapartments_medi,livingarea_medi,nonlivingapartments_medi,nonlivingarea_medi,fondkapremont_mode,housetype_mode,totalarea_mode,wallsmaterial_mode,emergencystate_mode,obs_30_cnt_social_circle,def_30_cnt_social_circle,obs_60_cnt_social_circle,def_60_cnt_social_circle,days_last_phone_change,flag_document_2,flag_document_3,flag_document_4,flag_document_5,flag_document_6,flag_document_7,flag_document_8,flag_document_9,flag_document_10,flag_document_11,flag_document_12,flag_document_13,flag_document_14,flag_document_15,flag_document_16,flag_document_17,flag_document_18,flag_document_19,flag_document_20,flag_document_21,amt_req_credit_bureau_hour,amt_req_credit_bureau_day,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_qrt,amt_req_credit_bureau_year
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [455]:
train = train.drop(['target','sk_id_curr'], axis=1)

In [456]:
train = train.sample(n=1000)

In [457]:
    dp = []
    for ls in train.columns:
        if train[ls].isnull().sum()/train.count().max() > 0.3:
            dp.append(ls)
    train.drop(dp, axis=1, inplace=True)

In [458]:
train.head()

,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,name_type_suite,name_income_type,name_education_type,name_family_status,name_housing_type,region_population_relative,days_birth,days_employed,days_registration,days_id_publish,flag_mobil,flag_emp_phone,flag_work_phone,flag_cont_mobile,flag_phone,flag_email,cnt_fam_members,region_rating_client,region_rating_client_w_city,weekday_appr_process_start,hour_appr_process_start,reg_region_not_live_region,reg_region_not_work_region,live_region_not_work_region,reg_city_not_live_city,reg_city_not_work_city,live_city_not_work_city,organization_type,ext_source_2,ext_source_3,obs_30_cnt_social_circle,def_30_cnt_social_circle,obs_60_cnt_social_circle,def_60_cnt_social_circle,days_last_phone_change,flag_document_2,flag_document_3,flag_document_4,flag_document_5,flag_document_6,flag_document_7,flag_document_8,flag_document_9,flag_document_10,flag_document_11,flag_document_12,flag_document_13,flag_document_14,flag_document_15,flag_document_16,flag_document_17,flag_document_18,flag_document_19,flag_document_20,flag_document_21,amt_req_credit_bureau_hour,amt_req_credit_bureau_day,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_qrt,amt_req_credit_bureau_year
17349,Cash loans,F,N,N,1,157500.0,614574.0,19822.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Married,Municipal apartment,0.018801,-16205,-1993,-8924.0,-5001,1,1,0,1,0,0,3.0,2,2,MONDAY,7,0,0,0,0,0,0,Business Entity Type 3,0.651435,0.265049,0.0,0.0,0.0,0.0,-1206.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
256615,Revolving loans,M,N,Y,0,180000.0,180000.0,9000.0,180000.0,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,0.010643,-8221,-435,-1084.0,-734,1,1,0,1,0,0,1.0,2,2,SUNDAY,11,0,0,0,1,1,0,Military,0.314120,NaN,2.0,0.0,2.0,0.0,-333.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
89975,Cash loans,F,Y,Y,0,157500.0,290353.5,18684.0,220500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-15840,-1834,-9092.0,-4060,1,1,0,1,0,0,2.0,2,2,THURSDAY,11,0,0,0,0,0,0,Self-employed,0.686524,0.549597,5.0,0.0,5.0,0.0,-951.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
91211,Cash loans,F,N,Y,0,180000.0,283585.5,29187.0,256500.0,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,0.007020,-17453,-258,-9462.0,-982,1,1,0,1,0,0,2.0,2,2,SATURDAY,10,0,0,0,1,1,0,Transport: type 4,0.756253,0.703203,0.0,0.0,0.0,0.0,-1666.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
163199,Cash loans,F,N,N,1,90000.0,284400.0,8752.5,225000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.032561,-12594,-953,-2648.0,-1680,1,1,0,1,0,0,2.0,1,1,MONDAY,14,0,0,0,0,0,0,Housing,0.716243,0.554947,0.0,0.0,0.0,0.0,-2.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [459]:
    for col in train.columns:
        if str(train[col].dtype) == 'float64':
            if train[col].value_counts().count() < 70:
                print(col)
                train[col] = train[col].fillna(train[col].mode().iloc[0]).astype('int64')

cnt_fam_members
obs_30_cnt_social_circle
def_30_cnt_social_circle
obs_60_cnt_social_circle
def_60_cnt_social_circle
amt_req_credit_bureau_hour
amt_req_credit_bureau_day
amt_req_credit_bureau_week
amt_req_credit_bureau_mon
amt_req_credit_bureau_qrt
amt_req_credit_bureau_year

In [460]:
    for col in train.columns:      
        if str(train[col].dtype) == 'int64':
            if train[col].value_counts().count() > 50:
                print(col)
                train[col] = train[col].fillna(train[col].mean()).astype('float64')

days_birth
days_employed
days_id_publish

In [467]:
    for col in train.columns:              
        if str(train[col].dtype) == 'int64':
            print(col)
            train[col] = train[col].fillna(train[col].mode().iloc[0])
            train[col] = LabelEncoder().fit_transform(train[col])

cnt_children
flag_mobil
flag_emp_phone
flag_work_phone
flag_cont_mobile
flag_phone
flag_email
cnt_fam_members
region_rating_client
region_rating_client_w_city
hour_appr_process_start
reg_region_not_live_region
reg_region_not_work_region
live_region_not_work_region
reg_city_not_live_city
reg_city_not_work_city
live_city_not_work_city
obs_30_cnt_social_circle
def_30_cnt_social_circle
obs_60_cnt_social_circle
def_60_cnt_social_circle
flag_document_2
flag_document_3
flag_document_4
flag_document_5
flag_document_6
flag_document_7
flag_document_8
flag_document_9
flag_document_10
flag_document_11
flag_document_12
flag_document_13
flag_document_14
flag_document_15
flag_document_16
flag_document_17
flag_document_18
flag_document_19
flag_document_20
flag_document_21
amt_req_credit_bureau_hour
amt_req_credit_bureau_day
amt_req_credit_bureau_week
amt_req_credit_bureau_mon
amt_req_credit_bureau_qrt
amt_req_credit_bureau_year

In [470]:
    for col in train.columns:              
        if str(train[col].dtype) == 'object':
            print(col)
            train[col] = train[col].fillna(train[col].mode().iloc[0])
            train[col] = LabelEncoder().fit_transform(train[col])

name_contract_type
code_gender
flag_own_car
flag_own_realty
name_type_suite
name_income_type
name_education_type
name_family_status
name_housing_type
weekday_appr_process_start
organization_type

In [513]:
    nc = []
    for col in train.columns:   
        if str(train[col].dtype) == 'float64':
            print(col)
            train[col] = train[col].fillna(train[col].mean())
            nc.append(col)
            train[col] = Normalizer().fit_transform(train[nc])

amt_income_total
amt_credit
amt_annuity
amt_goods_price
region_population_relative
days_birth
days_employed
days_registration
days_id_publish
ext_source_2
ext_source_3
days_last_phone_change

In [514]:
train.head()

,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,amt_goods_price,name_type_suite,name_income_type,name_education_type,name_family_status,name_housing_type,region_population_relative,days_birth,days_employed,days_registration,days_id_publish,flag_mobil,flag_emp_phone,flag_work_phone,flag_cont_mobile,flag_phone,flag_email,cnt_fam_members,region_rating_client,region_rating_client_w_city,weekday_appr_process_start,hour_appr_process_start,reg_region_not_live_region,reg_region_not_work_region,live_region_not_work_region,reg_city_not_live_city,reg_city_not_work_city,live_city_not_work_city,organization_type,ext_source_2,ext_source_3,obs_30_cnt_social_circle,def_30_cnt_social_circle,obs_60_cnt_social_circle,def_60_cnt_social_circle,days_last_phone_change,flag_document_2,flag_document_3,flag_document_4,flag_document_5,flag_document_6,flag_document_7,flag_document_8,flag_document_9,flag_document_10,flag_document_11,flag_document_12,flag_document_13,flag_document_14,flag_document_15,flag_document_16,flag_document_17,flag_document_18,flag_document_19,flag_document_20,flag_document_21,amt_req_credit_bureau_hour,amt_req_credit_bureau_day,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_qrt,amt_req_credit_bureau_year
17349,0,0,0,0,1,1.0,0.000002,0.000050,0.000002,6,3,4,1,2,0.999823,0.000062,0.000502,0.000112,0.000200,0,1,0,1,0,0,2,1,1,1,4,0,0,0,0,0,0,4,0.642292,0.634689,0,0,0,0,0.000829,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
256615,1,1,0,1,0,1.0,0.000006,0.000111,0.000006,6,2,1,3,1,0.999943,0.000122,0.002299,0.000923,0.001362,0,1,0,1,0,0,0,1,1,3,8,0,0,0,1,1,0,26,0.690301,0.604370,2,0,2,0,0.003003,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89975,0,0,1,1,0,1.0,0.000003,0.000054,0.000005,6,3,4,1,1,0.999360,0.000063,0.000545,0.000110,0.000246,0,1,0,1,0,0,1,1,1,4,8,0,0,0,0,0,0,36,0.636280,0.607947,5,0,5,0,0.001052,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,2
91211,0,0,0,1,0,1.0,0.000004,0.000034,0.000004,1,0,4,1,1,0.999975,0.000057,0.003876,0.000106,0.001018,0,1,0,1,0,0,1,1,1,2,7,0,0,0,1,1,0,47,0.623554,0.588920,0,0,0,0,0.000600,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
163199,0,0,0,0,1,1.0,0.000004,0.000114,0.000004,6,0,4,3,1,0.999470,0.000079,0.001049,0.000378,0.000595,0,1,0,1,0,0,1,0,0,1,11,0,0,0,0,0,0,12,0.630950,0.608017,0,0,0,0,0.384424,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

# Tratamento do train

## Categorical

### Categorial without nulls

name_contract_type - 2
code_gender - 3 *
flag_own_car - 2
flag_own_realty - 2
cnt_children - 15 *
name_income_type - 8 *
name_education_type - 5 *
name_family_status - 6 *
name_housing_type - 6 *
flag_emp_phone 
flag_work_phone
flag_cont_mobile
flag_phone
flag_email
occupation_type - 19 *
cnt_fam_members - 18 *
region_rating_client - 3
region_rating_client_w_city - 3
weekday_appr_process_start - 7
hour_appr_process_start - 24
reg_region_not_live_region 
reg_region_not_work_region
live_region_not_work_region 
reg_city_not_live_city 
live_city_not_work_city
organization_type - 59
flag_document_2 até flag_document_21

### Categorical with nulls

name_type_suite - 7 *
fondkapremont_mode - 4
housetype_mode - 3
wallsmaterial_mode - 7
emergencystate_mode - 2
obs_30_cnt_social_circle - 32
def_30_cnt_social_circle - 10
obs_60_cnt_social_circle - 32
def_60_cnt_social_circle - 10
amt_req_credit_bureau_hour - 5
amt_req_credit_bureau_day - 10
amt_req_credit_bureau_week - 9
amt_req_credit_bureau_mon - 27
amt_req_credit_bureau_qrt - 10
amt_req_credit_bureau_year - 25

## Continuous

### Continuous without nulls

amt_income_total
amt_credit
region_population_relative
days_birth
days_employed
days_registration 
days_id_publish
own_car_age - * possivel transformar em categorico
days_last_phone_change

### Continuous with nulls

amt_annuity (poucos nulls)
amt_goods_price
ext_source_1 - normalized
ext_source_2 - normalized
ext_source_3 - normalized
apartments_avg - normalized
basementarea_avg - normalized
years_beginexpluatation_avg - normalized
years_build_avg - normalized
commonarea_avg
elevators_avg
entrances_avg
floorsmax_avg
floorsmax_avg
floorsmin_avg
landarea_avg
livingapartments_avg
livingarea_avg
nonlivingapartments_avg
nonlivingarea_avg
mode - 58 a 72
median - 59 a 85

### Candidato à dropar

flag_mobil